<div class="p-grid p-my-3">
  <div class="p-col-6">
    <ng-container *ngIf="(users$ | async) as users; else skeletonTemplate">
      <p-dropdown
        [options]="users"
        optionLabel="name"
        optionValue="id"
        [showClear]="true"
        [formControl]="filterForm"
        placeholder="Select a User"
      >
      </p-dropdown>
    </ng-container>
  </div>
  <div class="p-col-6 p-d-flex p-jc-end">
    <button
      pButton
      type="button"
      class="p-mr-2 p-button-info"
      (click)="onCreate()"
    >
      New Post
    </button>
    <button pButton type="button" class="p-mr-2" (click)="onClickEditable()">
      Edit Post
    </button>
  </div>
</div>
<div class="p-grid">
  <ng-container *ngFor="let post of (posts$ | async)">
    <atos-post-card
      [currentUser]="(currentUser$ | async)"
      [post]="post"
      [isEditable]="(isEditable$ | async)"
      (onClickEdit)="onEdit($event)"
    ></atos-post-card>
  </ng-container>
</div>

<ng-template #skeletonTemplate>
  <p-skeleton></p-skeleton>
</ng-template>
